@media (max-width: 991px) {
    section{
        padding: 30px;
    }
    h2{
        font-size: 20px;
        line-height: 30px;
    }
    h3{
        font-size: 16px;
    }
    .main-btn{
        padding: 5px 15px;
        border: 1px solid gray;
        font-size: 12px;
        text-transform:capitalize;
    }
    .navbar-nav {
        display: inline;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 20px;
        height: 30px;
        width: 50%;
    }
    .navbar-nav .nav-link{
        padding: auto;
        color: #fff;
        background:rgb(247, 2, 2);
        border-radius: 50%;
        margin-bottom: 50px;
    }
    .navbar-nav .nav-link:hover{
        color: red;
        background:white;
    }
    .nav-item a{
        color: #fff;
        padding: 5px 5px;
    }

    .card .L1{
        min-height: 400px;
      }
     .card-body img{
        margin: 30px 0;
      }


    }



@media (max-width: 767px) {
    h1{
        font-size: 20px;
        line-height: 30px;
    }
    h2{
        font-size: 15px;
    }
    p{
        font-size: 11px;
        line-height: 20px;
    }
    .card .L1{
        min-height: 500px;
      }
      .card .card-body img{
        margin: 5px 0;
      }

    .navbar-nav {
        display: inline;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 2px;
        height: 30px;
        width: 40%;
    }

}

@media (max-width: 500px) {
    .main-btn{
      visibility: hidden;
  }
  .navbar-nav {
    display: inline;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 2px;
    height: 30px;
    width: 10%;
}
.navbar-nav .nav-link{
    padding: 5px;
    color: #fff;
    background:rgb(247, 2, 2);
    border-radius: 50%;
    margin-bottom: 50px;
}
}