@media (max-width: 991px) {
    section{
        padding: 30px;
    }
    h2{
        font-size: 20px;
        line-height: 30px;
    }
    h3{
        font-size: 16px;
    }
    .main-btn{
        padding: 10px 25px;
        border: 1px solid gray;
        letter-spacing: 1px;
        font-size: 14px;
        text-transform:capitalize;
    }
   .main-btns{
    margin-right: 47%;
   }
    .navbar-nav{
        padding: 20px 5px;
        border: 1px solid rgb(41, 38, 33);
        background-size: 100% 100%;
        background-position: 0px 0px,0px 0px;
        background-image: repeating-conic-gradient(from 91deg at 50% 50%, #000000FF 6%, #FF0D07FF 19%, #FBE9E5FF 29%, #FF000DFF 43%),repeating-conic-gradient(from 269deg at 50% 50%, #EE1C10FF 0%, #02040BFF 100%);
        height: auto;
        width: 100%;
    }
    
    .nav-link{
        font-size: 16;
        font-weight: 600;
        color: #000000FF;
    }

    .card .L1{
        min-height: 400px;
      }
     .card-body img{
        margin: 30px 0;
      }

}



@media (max-width: 767px) {
    h1{
        font-size: 20px;
        line-height: 30px;
    }
    h2{
        font-size: 15px;
    }
    p{
        font-size: 11px;
        line-height: 20px;
    }
    .card .L1{
        min-height: 500px;
      }
      .card .card-body img{
        margin: 5px 0;
      }
      .main-btns{
        display: inline-block;
        border-radius: 50px;
        transition: all 0.4s ease-in-out;
        padding: 5px 30px;
        background: transparent;
        border: 1px solid gray;
        color: gray;
        
        font-size: 10px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.5px;
      }
}